
.logo{
    font-size: 30px;
    font-weight: 700;
    font-family: "Calibri", serif;
    position: center;
    margin-top: 1%;
    margin-left: 10%;
}
.nav{
    font-size: 20px;
    font-family: "Calibri", serif;
    margin-top: 1%;
    margin-left: 40%;
}

.header__inner{
    width: 100%;
    height: 100px;
    display: flex;
    border-style: solid;
    align-items: center;
    grid-area: hi;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}



.left__menu{
    border-style: solid;
    grid-area: lm;
}

.top__menu{
    border-style: solid;
    grid-area: tm;
}

.right__menu{
    border-style: solid;
    grid-area: rm;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "hi hi hi hi hi hi"
      "lm tm tm tm tm tm"
      "lm cm cm cm cm rm"
      "lm cm cm cm cm rm"
      "lm cm cm cm cm rm"
      "lm cm cm cm cm rm"
      "lm cbm cbm cbm cbm rm"
      "fi fi fi fi fi fi";
}

.center__menu{
    border-style: solid;
    grid-area: cm;
}

.centerbottom__menu{
    border-style: solid;
    grid-area: cbm;
}
.footer__inner{
    width: 100%;
    height: 100px;
    display: flex;
    border-style: solid;
    align-items: center;
    grid-area: fi;
}
