
.logo{
    font-size: 30px;
    font-weight: 700;
    font-family: "Calibri", serif;
    position: center;
    margin-top: 1%;
    margin-left: 10%;
}
.nav{
    font-size: 20px;
    font-family: "Calibri", serif;
    margin-top: 1%;
    margin-left: 40%;
}

.header__inner{
    width: 100%;
    height: 100px;
    display: flex;
    border-style: solid;
    align-items: center;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}



.left__menu{
    border-style: solid;
    height: 400px;
    width: 15%;
    display: inline-block;
}

.top__menu{
    border-style: solid;
    width: 100%;
    height: 10%;
}

.right__menu{
    border-style: solid;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.container{
    width: 100%;
    height: 100%;
}

.center__menu{
    border-style: solid;
    height: 78%;
    width: 100%;
}

.centerbottom__menu{
    border-style: solid;
    height: 20%;
    width: 100%;
}

.main_menu{
    display: flex;
    width: 100%;
    height: 80%;
}
.s1{
    height: 400px;
    width: 85%;
    display: inline-block;
}

.s2{
    display: flex;
    width: 100%;
    height: 90%;
}

.s3{
    width: 80%;
    height: 100%;
    display: inline-block;
}